@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Noto+Serif+TC&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif TC", serif;
}

.parallax-banner-custom {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}


.parallax-inner-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoomEffectCustom 10s infinite alternate;
}


@keyframes zoomEffectCustom {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.1);
  }
}


.overlay-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(192, 190, 190, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.features-custom {
  display: flex;
  justify-content: space-around;
  width: 80%;
}


.feature-custom {
  text-align: center;
  color:#fff;
  margin: 0 20px;
}


.feature-custom img {
  width: 80px;
  height: 80px;
}


.feature-custom p {
  margin: 10px 0;
  font-size: 25px;
}


.content-custom {
  padding: 20px;
  text-align: center;
}



/* 區塊二-梅花茶 */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  margin-top: -10px;
  width: 100%;
  background-image: linear-gradient(to left, #B29CA2, #8b6d74);
}

.text-section {
  width: 40%;
  z-index: 1;
}

.text-section h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #FFF7F5;
  margin-left: 40px;
}

.text-section p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #FFF7F5;
  font-size: 20px;
  margin-left: 40px;
}

.bttn {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #e2bfbf;
  color: #522932;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 99px;
  margin-left: 40px;
}

.bttn:hover {
  background-color:  #fff;
}



.image-section {
  position: relative;
  width: 60%;
  height: 100%;
}

.image-section .image {
  position: absolute;
  border-radius: 10px;
}

.image-section .image1 {
  top: 10%;
  left: 5%;
  width: 95%;
  height: auto;
}

.image-section .image2 {
  top: 25%;
  right: 10%;
  width: 40%;
  height: auto;
}

.image-section .image3 {
  bottom: 10%;
  left: 20%;
  width: 35%;
  height: auto;
}

.image-section .image4 {
  top: 60%;
  right: 5%;
  width: 30%;
  height: auto;
}

.image-section .image5 {
  top: 40%;
  left: 40%;
  width: 25%;
  height: auto;
}

/* 手機版樣式 */
@media (min-width: 320px) and (max-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-top: -2px;
  }

  .text-section {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }

  .image-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-section .image {
    position: static;
    margin: 10px;
    width: 45%;
  }

  .image-section .image1 {
    width: 400px;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .banner-container {
    height: 70vh
  }
}