@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Noto+Serif+TC&display=swap');

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-containerb {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    max-width:1400px; /* Adjust this width as needed */
}

.image-containerb img {
    width: 230px;
    height: 230px;
    margin: 0 5px; /* Adjust the margin as needed */
}

.gallery-image {
    width: 150px;
    height: auto;
    margin: 10px;
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
}

.gallery-image.active {
    filter: brightness(100%);
}

.gallery-image:hover {
    transform: scale(1.1);
}

.article {
    text-align: center;
    font-size: 16px;
}

.image-title {
    margin-top: 5px;
    font-weight: bold;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.bounce {
    animation: bounce 0.5s ease;
    width: 850px;
}

#article-text {
    font-size: 20px;
}

.tit01 {
    display: flex;
    align-items: center;
    justify-content: center;
}



#article-text  {
    width: 850px;
}

/* 隐藏滚动条 */
.image-containerb::-webkit-scrollbar {
    display: none;
}

.image-containerb {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 手机版显示滚动条 */
@media (max-width: 767px) {
    .image-containerb {
        overflow-x: scroll;
        scrollbar-width: auto;
        scrollbar-color: #9A6C6D #e0e0e0;
        overflow-y: hidden;
    }

    .image-containerb::-webkit-scrollbar {
        height: 4px;
        border: 2px solid #816068;
    }

    .image-containerb::-webkit-scrollbar-thumb {
        background-color: #ff8c00;
        border-radius: 10px;
        border: 2px solid #e0e0e0;
    }

    .image-containerb::-webkit-scrollbar-track {
        background-color: #e0e0e0;
        border-radius: 10px;
    }

    #article-text{
        width: 400px;
    }
}

/* 桌面和平板设备上全图显示 */
@media (min-width: 768px) {
    .image-containerb {
        overflow-x: hidden;
    }
}

/* 桌面和平板设备上全图显示 */
@media (min-width: 768px) {
    .image-containerb {
        overflow-x: visible;
    }
}

.tit01 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tit01 h2 {
    margin-top: 50px;
    font-size: 40px;
    color: #816068;
    font-family: "Noto Serif TC", serif;
}


@media (max-width: 768px) {
    .tit01 h2 {
        font-size: 20px;
    }
}